body,
header {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#sidebar {
	width: 20%;
	height: 100%;
	background-color: #333;
	position: fixed;
	top: 0;
	left: 0;
}

section {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ddd;
	flex: 1;
}

#sidebar-content {
	color: #fff;
	padding: 20px;
}

#sidebar-content img {
	width: 150px;
	height: auto;
}

#main-content {
	margin-left: 20%;
	padding: 20px;
	background-color: #fff;
	flex: 2;
}

.page-title {
	text-align: center;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
}

.language {
	display: flex;
	align-items: center;
	position: relative;
}

.language img {
	width: 25px;
	height: auto;
	cursor: pointer;
	/* Добавьте курсор указателя для флага */
}

#language-button {
	display: flex;
	align-items: center;
	position: relative;
	margin-top: 10px;
}

#language-toggle {
	background-color: rgb(124, 124, 124);
	/* Цвет фона кнопки */
	color: #fff;
	/* Цвет текста на кнопке */
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	font-weight: bold;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Центрирование текста по горизонтали и вертикали */
	transition: background-color 0.3s;
}

#language-toggle:hover {
	background-color: #333;
	/* Цвет фона при наведении */
}

#language-toggle img {
	width: 25px;
	height: auto;
	border-radius: 50%;
	margin-left: 10px;
}

#download-button {
	display: block;
	background-color: #3498db;
	/* Цвет фона кнопки */
	color: #fff;
	/* Цвет текста кнопки */
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
	margin-top: 10px;
	font-weight: bold;
	transition: background-color 0.3s;
}

#download-button:hover {
	background-color: #2077c6;
	/* Цвет фона кнопки при наведении */
}

#profile-photo {
	border: 5px solid rgb(124, 124, 124);
	border-radius: 0;
}

#language-dropdown {
	position: absolute;
	top: 30px;
	left: 0;
	background-color: #fff;
	border: 1px solid #ccc;
	list-style: none;
	padding: 0;
	margin: 0;
	display: none;
	width: 120px;
	z-index: 1;
}

#language-dropdown li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	padding: 5px 0px;
	border-bottom: 1px solid #ccc;
}

#language-dropdown img {
	width: 20px;
	height: auto;
	margin-left: 4px;
}

.hidden {
	display: none;
}

#social-icons-container {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #333;
	padding: 10px 0;
}

#social-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}

#social-icons a {
	margin: 0 10px;
	text-decoration: none;
	transition: transform 0.2s;
}

#social-icons img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

#social-icons a:hover {
	transform: scale(1.1);
}